body {
  margin: 0;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

.site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* display: none; */
}

.site-overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 70px;
  color: dimgray;
  font-style: italic;
  font-weight: bold;
}

/* .circle {
  width: 50px;
  height: 50px;
  border: 10px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.app {
  display: block;
  padding: 20px;
}

.container {
  display: flex;
  padding: 20px;
  border: solid 3px black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(156, 156, 161);
}

.form-container {
  margin-right: 5%;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(141, 141, 172);
}

.results {
  position: relative;
  display: none;
  border: 2px solid white;
  background-color: rgb(141, 141, 172);
  border-radius: 15px;
  padding: 10px;
}

h1,
h3 {
  text-align: center;
}

input,
textarea {
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: lightgreen;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

textarea {
  border-radius: 15px;
  padding: 15px;
  overflow: auto;
  resize: none;
}

input {
  height: 25px;
  width: 96%;
  border-radius: 20px;
  padding: 7.5px;
}

input,
textarea:focus {
  outline: none;
}

#analyze-text {
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

#analyze-text:hover {
  background-color: rgb(86, 180, 86);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button {
  text-align: center;
  background-color: rgb(202, 188, 188);
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  padding: 7.5px;
  width: 100%;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: rgb(176, 141, 223);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
