body {
  margin: 0;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

.app {
  display: block;
  padding: 20px;
}

.container {
  display: flex;
  padding: 20px;
  border: solid 3px black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(156, 156, 161);
}

.form-container {
  margin-right: 5%;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(141, 141, 172);
}

.results {
  position: relative;
  display: none;
  border: 2px solid white;
  background-color: rgb(141, 141, 172);
  border-radius: 15px;
  padding: 10px;
}

h1 {
  text-align: center;
}

input,
textarea {
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: lightgreen;
  border: none;
}

textarea {
  border-radius: 15px;
  padding: 15px;
  overflow: auto;
  resize: none;
}

input {
  height: 25px;
  width: 96%;
  border-radius: 10px;
  padding: 7.5px;
}

input,
textarea:focus {
  outline: none;
}

#analyze-text {
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

#analyze-text:hover {
  background-color: rgb(86, 180, 86);
}
